@model PaginatedList<TutorNinja.Models.Ad>

@{
    ViewData["Title"] = "Ads";
}

<hr />
<div>
    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                Search: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" /> <input type="submit" value="Search" class="btn btn-default" /> |
                <a asp-action="Index" class="btn btn-success">Back To Full List</a>
            </p>
        </div>
    </form>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div>
    Category:
    <a asp-action="Index" class="btn btn-success" asp-route-id="">All</a>
    @foreach (var item in ViewBag.Categories)
    {
        <a asp-action="Index" class="btn btn-danger" asp-route-id="@item.CategoryID">@item.CategoryName</a>
    }
</div>

<div>
    <h3 class="title">@ViewData["CurrentCategory"]</h3>
    <hr />
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Price</a>
            </th>
            <th>
                Description
            </th>
            <th>
                Date created
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AdID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AdID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AdID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled btn">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled btn">
    Next
</a>
